:root {
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-light-yellow: #fff7d1;
  --color-yellow: yellow;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-brown: #cf9553;

  /*  #cf9553
     #c78f50;
  */

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  --size-border-radius: 4px;

  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  background: var(--color-brown);
  align-items: center;
  color: var(--color-white);
  padding: 5px 16px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  margin: 0 4px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-light-yellow);
  color: var(--color-light-yellow);
}

.navbar__menu__item:hover {
  background-color: var(--color-light-yellow);
  color: var(--color-dark-white);
}

#home {
  background: url(imgs/background.png) center/cover no-repeat;
  padding: 40px;
  text-align: center;
}
.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid var(--color-light-yellow);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-light-yellow);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-light-yellow);
  border-radius: var(--size-border-radius);
}

/* section */
.section {
  padding: 50px;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major {
  flex-basis: 33.3%;
}

.major__icon {
  margin: auto;
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
  color: var(--color-blue);
}

.major__icon:hover i {
  color: var(--color-yellow);
  transform: rotate(-30deg) scale(1.1);
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover .major__icon {
  border: 1px solid var(--color-yellow);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}
